* {
    font-family: 'Press Start 2P';
    font-weight: 400;
    font-size: 12px;
    color: #f8f8ff;
}

body {
    margin: 20px;
    padding: 10px;
    height: fit-content;
    background-color: #2a2a2a;
    ;
}

header {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
}

main {
    display: grid;
    grid-template-columns: fit-content 1fr;
    grid-template-rows: fit-content fit-content;
    /* background-color: lightslategray; */
    grid-template-areas: "about about projects" "contact contact contact";
}

h1 {
    color: #979696;
    font-size: 15px;
}

b {
    /* color: #f2a365; */
    color: #ff614e;
}

h3>b {
    color: #4169e1;
    font-size: 14px;
}

a,
a::after {
    color: #636469;
    transition: .25s;
}

.about {
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr minmax(300px, 2fr);
    grid-template-rows: fit-content 150px;
    grid-template-areas: "bio bio" "pic skill";
    justify-content: left;
    padding-left: 10px;
}

.bio {
    grid-area: bio;
    /* background-color: red; */
}

.pic {
    grid-area: pic;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* justify-items: center;
    justify-items: center; */
    /* background-color: tomato; */
}

#pp {
    border: 1px solid white;
    margin: 5px;
    height: 250px;
    width: auto;
    border-radius: 50%;
}

.skill {
    grid-area: skill;
    /* background-color: lightsalmon; */
    margin-left: 55px;
}

.projects {
    grid-area: projects;
    /* background-color: lightblue; */
}

.contact {
    grid-area: contact;
    /* background-color: lightgreen; */
}

.nes-container.with-title.is-rounded.is-dark {
    /* border: 2px white solide; */
    padding-right: 50px;
    padding-left: 25px;
}

.nes-container.with-title.is-rounded.is-dark>.title {
    font-size: 18px;
    color: darkcyan;
}

.nes-progress {
    height: 20px;
    width: fit-content;
    box-shadow: 5px 6px 5px 5px #191c1fc7;
    margin: 5px;
}

.nes-list.is-disc {
    display: inline;
    margin: 10px;
}

.nes-list.is-disc>h3 {
    color: #f2a365;
}


/*  
#979696 //h1
#c2a578 // bold_text
#636469 // links before
#2a2a2a // background
*/


/* Blue palette
#222831
#30475e
#f2a365
#ececec
*/